---
layout: default
title: adamyonk – Adam Jahnke
---

<div id="home">
  <p>
    I'm Adam Jahnke – an engineer at <a href="https://www.librato.com/about">Librato</a>. I thoroughly enjoy writing code, especially JavaScript and Ruby. I love to make the complex simple. I live in Springfield, Missouri with my beautiful wife <a href="http://twitter.com/oliviayonk">Olivia</a>.
  </p>

  <h2>Recent Posts:</h2>
  <ul>
    {% for post in site.posts %}
      {% include post.html %}
    {% endfor %}
  </ul>
</div>
