---
layout: default
title: adamyonk – Adam Jahnke
---

<div id="home">
  <p>
    I'm Adam Jahnke – an engineer at <a href="https://www.librato.com/about">Librato</a>. I thoroughly enjoy writing code, especially JavaScript and Ruby. I love to make the complex simple. I live in Springfield, Missouri with my beautiful wife <a href="http://twitter.com/oliviayonk">Olivia</a>.
  </p>

  <h2>Recent Posts:</h2>
  <ul>
    {% for post in site.posts %}
    <li class="post-li">
      <span class="post-li__meta">
        <small class="monospace">{{ post.date | date: '%b %d, %Y' }}</small> &raquo;
      </span>
      <a class="post-li__title" href="{{ post.url }}">{{ post.title }}</a>
      {% if post.tags %}
      <span class="post-li__tags">
        {% capture tags %}{% for tag in post.tags %}{% if tag != post.tags[0] %}|||{% endif %}<span class="tag" data-tag="{{ tag }}"><a href="/tag/{{ tag }}">{{ tag }}</a></span>{% endfor %}{% endcapture %}
        {{ tags | split: '|||' | array_to_sentence_string }}
      </span>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
