---
title: 'Resumé'
published: true
kind: page
---

:markdown
  # I'm Adam Jahnke #

  ## Job History ##

  **Pure Charity**

  Programmer, lead front-end programmer<br/>
  Jul. 2011 - Present

  At Pure Charity, I was brought on to help build their [online giving application](http://purecharity.com) with a focus on front-end technologies. We have very open 'roles' in the company and I took that opportunity to begin working more with Ruby and Rails and owning features from top to bottom. After a year, I was promoted to the lead front-end programmer and architect; a typical day for me here is building features of all shapes and sizes, providing support to other developers on the team, and spending time reviewing code to ensure that it adheres to best-practices. I've also discovered a passion for writing statistical and analytics tools for our business team, and finding ways to automate tedious processes for the whole company. The entire development team works remotely, forcing us to be intentional and open with communication and collaboration.

  *Responsibilities:*

  * All front end development and architecture (HAML, SASS, CoffeeScript, AJAX, PJAX, JS templating, Backbone JS)
  * Rails development
  * Ruby development and automation

  **Elevate LLC**

  Programmer<br/>
  Feb. 2005 - Jul. 2011

  I was hired as employee number 2 at Elevate, a web design and development startup, as an intern in high school. I organized copy and built the front-ends for all of the sites Elevate took on. After graduating high school, I was promoted to lead developer and began working full-time. I developed a very close relationship with the owner/designer and was challenged constantly to translate his designs into working interfaces that were functional and intuitive. Being a part of a very small company, I was stretched to learn all aspects of business, and developed the ability to teach myself and grow whatever skill was necessary to bring ideas and goals to fruition. One of my last projects at Elevate was to build out the [company's portfolio website](http://elevate.co), which is still in use. 

  *Responsibilities:*

  * All front-end development (HTML, CSS, JS, SASS, CoffeeScript)
  * Building and maintaining PHP powered sites running a custom content management system
  * Building and maintaining WordPress powered sites

  ## Visible Projects ##

  * [Octodots](http://dotfiles.github.io)
  * [Personal Dotfiles](http://github.com/adamyonk/dotfiles)
  * [Elevate.co](http://elevate.co) (front/back-end)
  * [ChelseaMoon.com](http://chelseamoon.com) (front/back-end)
  * [TheFranzFamily.com](http://thefranzfamily.com) (front/back-end)

  ## Education ##

  * High school (home schooled) - diploma

  *References available upon request.*

  *Adam Jahnke*<br/>
  987 S Natalie Ave<br/>
  Springfield, MO 65802<br/>
  [email](mailto:adamyonk@icloud.com) | [github](http://github.com/adamyonk) | [twitter](http://twitter.com/adamyonk) | +1 (402) 817-9871
