<li class="post-li">
  <span class="post-li__meta">
    <small class="monospace">{{ post.date | date: '%b %d, %Y' }}</small>
    <span class="post-li__arrow">&raquo;</span>
  </span>
  <a class="post-li__title" href="{{ post.url }}">{{ post.title }}</a>
  {% if post.tags %}
  <span class="post-li__tags">
    {% capture tags %}{% for tag in post.tags %}{% if tag != post.tags[0] %}|||{% endif %}<span class="tag" data-tag="{{ tag }}"><a href="/tag/{{ tag }}">{{ tag }}</a></span>{% endfor %}{% endcapture %}
    {{ tags | split: '|||' | array_to_sentence_string }}
  </span>
  {% endif %}
</li>
