@import url(http://fonts.googleapis.com/css?family=Cardo:400,400italic)

@import compass/reset

$text-color: hsl(0,0%,13%)
$link-hover-color: hsla(0,0%,0%,.3)

body
  color: $text-color
  font:
    family: 'Bitter', 'Georgia', serif
    size: 16px

.wrapper
  margin: 100px auto 0px
  padding-left: 200px
  position: relative
  width: 500px

$logo-size: 200px
#logo
  color: hsl(18,80%,44%)
  font-size: $logo-size
  left: 0px
  margin-top: -$logo-size/2
  position: absolute
  text-align: center
  top: 50%

p
  line-height: 150%
  margin-bottom: 20px

a
  border-bottom: 1px solid $link-hover-color
  color: $text-color
  font-style: italic
  text-decoration: none
  &:hover
    border-color: $text-color
    color: $link-hover-color
