@import compass/reset
@import compass/css3/transform
@import compass/css3/border-radius

// Custom clearfix
=clearfix
  *zoom: 1
  &:before,
  &:after
    content: ''
    display: table
  &:after
    clear: both

// Perfect fourth
$scale: 1.333
$base: 1rem
@function scale($n)
  @return $base * pow($scale, $n)

// Colors
$base03:      #002b36
$base02:      #073642
$base01:      #586e75
$base00:      #657b83
$base0:       #839496
$base1:       #93a1a1
$base2:       #eee8d5
$base3:       #fdf6e3
$yellow:      #b58900
$orange:      #cb4b16
$red:         #dc322f
$magenta:     #d33682
$violet:      #6c71c4
$blue:        #268bd2
$cyan:        #2aa198
$green:       #859900

$tumblr:      hsl(210,38%,30%)
$twitter:     hsl(192,98%,57%)
$github:      hsl(210,53%,51%)
$rss:         hsl(30,98%,57%)

body
  background-color: $base3
  color: $base00
  font-family: 'Georgia', serif
  font-size: scale(0)
  line-height: 150%
  margin: scale(2) auto
  max-width: scale(13)
  width: 90%

nav
  +clearfix
  margin: scale(2) 0px
  a
    border: none
    display: inline-block
    font-size: scale(1)
    font-style: normal
    height: scale(1)
    line-height: scale(1)
    text-decoration: none
    width: scale(1)
  a.main
    color: $orange
    font-size: scale(2)
  a:hover
    border: none
    &.ss-twitter
      color: $twitter
    &.ss-tumblr
      color: $tumblr
    &.ss-octocat
      color: $github
    &.ss-rss
      color: $rss

header
  margin-bottom: scale(1)

article
  +clearfix
  display: block
  margin-bottom: scale(3)
  *
    max-width: 100%
  &.photo
    > a:first-of-type
      border: none
    img
      display: block
      margin-bottom: scale(-4)

h1
  color: $base00
  font-size: scale(2)

h2
  color: $base00
  font-size: scale(1)

h1, h2, ul, ol, dl, table, blockquote, code
  margin-top: scale(1)
  + p, + small
    margin-top: scale(1)

p + p
  text-indent: scale(1)

ul, ol
  margin-left: scale(1)

ul
  list-style-type: disc

ol
  list-style-type: decimal

small
  font-size: scale(-1)

blockquote
  border-left: scale(-6) solid $yellow
  font-size: scale(1)
  line-height: 150%
  padding-left: scale(0)

em
  font-style: italic

strong
  font-weight: bold

code
  +border-radius(scale(-6))
  background: $base2
  color: $base01
  display: inline-block
  font-family: Menlo, Monoco, monospace
  font-size: .9rem
  line-height: 150%
  overflow: scroll
  padding: 0px scale(-6)
  white-space: pre
  &.block
    display: block

a
  border-bottom: scale(-9) dotted $base1
  color: $base01
  font-style: italic
  text-decoration: none
  &:hover
    border-style: solid
