@import compass/reset
@import compass/css3/transform
@import compass/css3/border-radius

// Custom clearfix
=clearfix
  *zoom: 1
  &:before,
  &:after
    content: ''
    display: table
  &:after
    clear: both

// Perfect fourth
$scale: 1.333
$base: 1rem
// Scale
@function s($n)
  @return $base * pow($scale, $n)

// Colors
$base03:      #002b36
$base02:      #073642
$base01:      #586e75
$base00:      #657b83
$base0:       #839496
$base1:       #93a1a1
$base2:       #eee8d5
$base3:       #fdf6e3
$yellow:      #b58900
$orange:      #cb4b16
$red:         #dc322f
$magenta:     #d33682
$violet:      #6c71c4
$blue:        #268bd2
$cyan:        #2aa198
$green:       #859900

$tumblr:      hsl(210,38%,30%)
$twitter:     hsl(192,98%,57%)
$github:      hsl(210,53%,51%)
$rss:         hsl(30,98%,57%)

body
  background-color: $base3
  color: $base00
  font-family: 'Georgia', serif
  font-size: s(0)
  line-height: 150%
  margin: s(2) auto
  max-width: s(13)
  width: 90%

nav
  +clearfix
  margin: s(2) 0px
  a
    border: none
    display: inline-block
    font-size: s(1)
    font-style: normal
    height: s(1)
    line-height: s(1)
    text-decoration: none
    width: s(1)
  a.main
    color: $orange
    font-size: s(2)
  a:hover
    border: none
    &.ss-twitter
      color: $twitter
    &.ss-tumblr
      color: $tumblr
    &.ss-octocat
      color: $github
    &.ss-rss
      color: $rss

header
  margin-bottom: s(1)

article
  +clearfix
  display: block
  margin-bottom: s(3)
  *
    max-width: 100%
  &.photo
    > a:first-of-type
      border: none
    img
      display: block
      margin-bottom: s(-4)

h1
  color: $base00
  font-size: s(2)

h2
  color: $base00
  font-size: s(1)

body >, article >
  p, h1, h2, ul, ol, dl, table, blockquote, code
    margin-bottom: s(1)

ul, ol
  margin-left: s(1)

ul
  list-style-type: disc

ol
  list-style-type: decimal

small
  font-size: s(-1)

blockquote
  border-left: s(-6) solid $yellow
  font-size: s(1)
  line-height: 150%
  padding-left: s(0)

em
  font-style: italic

strong
  font-weight: bold

code
  +border-radius(s(-6))
  background: $base2
  color: $base01
  display: inline-block
  font-family: Menlo, Monoco, monospace
  font-size: .9rem
  line-height: 150%
  overflow: scroll
  padding: 0px s(-6)
  vertical-align: middle
  white-space: pre
  &.block
    display: block

.gist
  font-size: .75em
  table
    margin: 0px
  .gist-meta
    line-height: 15px
    a:nth-child(2)
      font-weight: bold

a
  border-bottom: s(-9) dotted $base1
  color: $base01
  font-style: italic
  text-decoration: none
  &:hover
    border-style: solid
