---
title: adamyonk
---

:markdown
  I'm Adam Jahnke – an engineer at [Librato][librato]. I have a passion for
  writing code, especially CoffeeScript and Ruby. I love minimalism. I live in
  Springfield, Missouri with my beautiful wife [Olivia][olivia].

  [librato]: http://librato.com
  [twitter]: http://twitter.com/adamyonk
  [github]: http://github.com/adamyonk
  [olivia]: http://twitter.com/oliviayonk
  [posts]: /posts/
  [blog]: http://jahnke.us

  ## Recent posts:

%ul
  - sorted_articles.each do |article|
    %li #{link_to article[:title], article}
