---
title: adamyonk
---

:markdown
  I'm Adam Jahnke – a programmer at [PureCharity][purecharity]. I have a
  passion for writing code, especially CoffeeScript and Ruby.  I live in
  Springfield, Missouri with my beautiful wife [Olivia][olivia].

  I love minimalism.

  [purecharity]: http://purecharity.com?aff=369bb
  [twitter]: http://twitter.com/adamyonk
  [github]: http://github.com/adamyonk
  [olivia]: http://twitter.com/oliviayonk
  [posts]: /posts/
  [blog]: http://jahnke.us

Recent posts:
%ul
  - sorted_articles[0..4].each do |article|
    %li #{link_to article[:title], article}
