---
title: adamyonk
---

:markdown
  I'm Adam Jahnke - a developer with [PureCharity][purecharity]. I have a
  passion for writing clean, concise code and currently enjoy writing it in the
  flavors CoffeeScript and Ruby.

  I love minimalism. I talk about some pretty nerdy things on occasion,
  but if that doesn't scare you, I frequent [Twitter][twitter] quite often. If
  you like [code][github], I'll be your huckleberry.

  I was born, raised, and fed corn in Nebraska. I'm now married and living in
  Springfield, Missouri with my beautiful wife [Olivia][olivia]. We run a
  [blog][blog] together.

  [purecharity]: http://purecharity.com
  [twitter]: http://twitter.com/adamyonk
  [github]: http://github.com/adamyonk
  [olivia]: http://twitter.com/oliviayonk
  [blog]: http://jahnke.us
