<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/stylesheets/syntax.css">

        <!-- SymbolSet CSS -->
        <link rel="stylesheet" href="/stylesheets/ss-social.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/stylesheets/main.css">

    </head>
    <body>
      <nav>
        <a class="main" href="/">✖</a>
        <a class="ss-twitter" href="http://twitter.com/adamyonk"></a>
        <a class="ss-octocat" href="http://github.com/adamyonk"></a>
        <a class="ss-rss" href="/atom.xml"></a>
      </nav>

      {{ content }}

    </body>
</html>
