<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/stylesheets/syntax.css">

        <!-- SymbolSet CSS -->
        <link rel="stylesheet" href="/stylesheets/ss-social.css">
        <link rel="stylesheet" href="/stylesheets/ss-standard.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/stylesheets/main.css">

        <link rel="shortcut icon" href="/favicon.ico">

    </head>
    <body>
      <nav>
        <a class="main" href="/" title="Home">✖</a>
        <a class="ss-icon ss-social ss-twitter" href="http://twitter.com/adamyonk" title="Twitter"></a>
        <a class="ss-icon ss-social ss-octocat" href="http://github.com/adamyonk" title="GitHub"></a>
        <a class="ss-key" href="http://keybase.io/adamyonk" title="Keybase"></a>
        <a class="ss-lock" href="/adam_jahnke.asc" title="PGP Public Key&#10;&#10;Fingerprint:&#10;253B DC3C 94E5 F33A 0A20 F0B3 415C 1FDC 7AEB 2ACE"></a>
        <a class="ss-icon ss-social ss-rss" href="/atom.xml" title="RSS"></a>
      </nav>

      {{ content }}

    </body>
</html>
