!!!
%html
  %head
    %meta{:charset => 'utf-8'}/
    %meta{:content => 'chrome=1', 'http-equiv' => 'X-UA-Compatible'}/
    %title #{@item[:title]} - Adam Jahnke
    %link{:href => '/stylesheets/styles.css', :rel => 'stylesheet'}/
    %link{:href => '/stylesheets/ss-social.css', :rel => 'stylesheet'}/
    -#%meta{:content => 'width=device-width, initial-scale=1, user-scalable=no', :name => 'viewport'}/
    /[if lt IE 9]
      %script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')

  %body
    #wrapper
      #side
        %a.main{href: '/'} ✖
        .connections
          %a.ss-twitter{href: 'http://twitter.com/adamyonk'}
          -#%a.ss-tumblr{href: 'http://jahnke.us'}
          %a.ss-octocat{href: 'http://github.com/adamyonk'}
          %a.ss-rss{href: 'http://adamyonk.com/posts/feed.xml'}
      %section
        - if @item[:kind] == 'article'
          = render '_article', content: content, item: @item
        - else
          = content
